<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Randomisation page</title>
</head>
<body>
<div>
    <h1>Randomisation page</h1>
    <ul>
        <li><a href="/randomisation/uuid">Get random UUID</a></li>
        <li><a href="/randomisation/exchange">Get random currency exchange rate</a></li>
        <li><a href="/randomisation/exchange/EUR">Get EUR exchange rates</a></li>
        <li><a href="/randomisation/exchange/USD">Get USD exchange rates</a></li>
        <li><a href="/randomisation/exchange/UAH">Get UAH exchange rates</a></li>
    </ul>
</div>
</body>
</html>
